input[type="text"]{
width : 300px;;
}
#p
{
	width:100%;
	font-size:20px;
        font-style:italic;
word-spacing: 5px;
	font-family:"Times New Roman", Times, serif;
}
img{
	height:480px;
	width:100%;
}
.top_btn:hover
{
	height:37px;
	width: 75px;
	margin-right:10px;
	font-size: 1.1em;
	box-shadow: 1px 1px 1px 1px black;
	cursor: pointer;
	opacity: 0.8;
}
.top_btn
{
	color: black;
	border-radius: 20%;
	height: 35px;
	width: 100px;
	text-align:center;
	font-size: 1em;
	margin: 0px 15px;
	opacity: 0.6;
	align-content:center;
}
.button {
  background-color: #99ffcc;
  width:200px;
  border: 1px solid black;
  border-radius: 15px 50px;
  font-style: italic;
  font-size:150%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: Black
}